{% if headline|default %}
    <{{ hl }}>{{ headline }}</{{ hl }}>
{% endif %}
<a href="{{ request }}#{{ skipId }}" class="invisible">{{ skipNavigation }}</a>

{% if ampRenderSubItemsAsAccordions|default %}
    {{ items|raw }}
{% else %}
    {{ items|raw }}
{% endif %}

<a id="{{ skipId }}" class="invisible">&nbsp;</a>

<div id="target-element"></div>