{% if first|default %}
<div class="{{ class }} ce_accordion ce_text block"{{ cssID }}{% if style|default %} style="{{ style }}"{% endif %}>
    <amp-accordion disable-session-states expand-single-section>
        {% endif %}

        <section{% if active|default %} expanded{% endif %}>
            <h2>{{ headline|raw }}</h2>
            <div>
                {% if not addBefore|default %}
                    {{ text|raw }}
                {% endif %}

                {% if addImage|default %}
                    <figure class="image_container"{% if margin|default %} style="{{ margin }}"{% endif %}>
                        {% if href|default %}
                        <a href="{{ href }}"{% if linkTitle|default %} title="{{ linkTitle }}"{% endif %}{{ attributes|raw }}>
                            {% endif %}

                            {% include '@HeimrichHannotContaoAmp/picture_amp.html.twig' with picture %}

                            {% if href|default %}
                        </a>
                        {% endif %}

                        {% if caption|default %}
                            <figcaption class="caption">{{ caption }}</figcaption>
                        {% endif %}
                    </figure>
                {% endif %}

                {% if addBefore|default %}
                    {{ text|raw }}
                {% endif %}
            </div>
        </section>

        {% if last|default %}
    </amp-accordion>
</div>
{% endif %}