<figure class="image_container"{% if margin|default %} style="{{ margin }}"{% endif %}>
    {% if href|default %}
        <a href="{{ href }}"{% if linkTitle|default %} title="{{ linkTitle }}"{% endif %}{{ attributes }}>
    {% endif %}

    <amp-img alt="{{ alt }}" src="{{ singleSRC }}" width="{{ width }}" height="{{ height }}" layout="responsive"></amp-img>

    {% if href|default %}
        </a>
    {% endif %}

    {% if caption|default %}
        <figcaption class="caption">{{ caption }}</figcaption>
    {% endif %}
</figure>