<figure class="image_container"{% if margin|default %} style="{{ margin }}"{% endif %}>
    {% if href|default %}
    <a href="{{ href }}"{% if linkTitle|default %} title="{{ linkTitle }}"{% endif %}{{ attributes }}>
        {% endif %}

        {% include '@HeimrichHannotContaoAmp/picture_amp.html.twig' with picture %}

        {% if href|default %}
    </a>
    {% endif %}

    {% if caption|default %}
        <figcaption class="caption">{{ caption }}</figcaption>
    {% endif %}
</figure>